html {
    border: solid white 10px;
    background-color: #eb4d1a;
  }

#rpsnav {
padding: 50px 35%;
width: auto;
}
      
a {
color: white;
font-family: Crimson Text;
font-weight: 700;
font-size: 20px;
padding-right: 15px;
width: 600px;
}

#first-section {
    width: 100%;
    display: block;
    border: solid white 10px;
    background-color: #eb4d1a;
}

#champion-header {
padding-top: 150px;
font-size: 72px;
font-family: Rubik;
font-weight: 700;
color: white;
text-align: left;
float: left;
width: 35%;
}

img {
    width: 18%;
    float: left;
    padding-top: 100px;
}

input {
    float: left;
}

#section-two {
    display: block;
    float: left;
}

input {
    display: none;
}

label {
    cursor: pointer;
  }

  img:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s; 
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite; 
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }